@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=League+Spartan:wght@100..900&display=swap');

:root {
  --dark: #333;
  --light: #fffaf0;
  --orange: #ff4500;
}

body {
  font-family: 'League Spartan', sans-serif;
  margin: 0;
  padding: 0;
}

.logo {
  font-family: 'Amatic SC', sans-serif;
  font-weight: 700;
  font-size: 35px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px var(--orange);
}

header, footer {
  background-color: var(--dark);
  color: var(--light);
  text-align: center;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: var(--light);
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  transition: color 0.5s ease-in;
}

nav ul li a:hover {
  color: var(--orange);
}

.section-1, .section-2, .section-3 {
  padding: 20px;
  max-width: 960px;
  margin: 0 auto;
}

.section-3 .video-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.section-3 .video-item {
  flex: 1 1 calc(50% - 20px);
  text-align: center;
}

.section-3 iframe {
  max-width: 100%;
  height: auto;
}

@media (max-width: 600px) {
  .section-3 .video-item {
    flex: 1 1 100%;
  }
}
